
body, * {
    border-color:rgb(0, 255, 170);
    border-style: dotted;
    border-width: .1em;
}

body
    {
        background-color:black;
        color:aliceblue;
        font-family:'Courier New', Courier, monospace;
        padding: 4vh;
    }

header
    {
        display:flex;
        flex-direction: column;
        justify-content: center ;
        -ms-flex-direction: column;
    }
p
    {
        font-size: x-large;
        font-weight: bold;
    }
 button
    {
        background-color:transparent;
        color:aliceblue;
        font-weight: bold;
        font-size: large;
        border-style: inset;
        border-color: darkslategray;
        border-width:.2vh;
        border-radius: 5vh;
        padding: 1vh;
        margin:1vh;
    }
 button:hover
    {
        transition: .7s;
        background-color: rgb(169, 169, 169);
        scale:1.1;
    }
 button:active
    {
       transition:.1s; 
       transform: translate(.1vh,.2vh);
       -ms-transform: translate(.1vh,.2vh);
    }
iframe 
    {
        width:30em;
        height:auto;
    }
.contentContainer
    {
        display:block;
    }  

.htmlTags
    {
        color:darkslategrey;
    }

.sectionHeaders
    {
        color:darkslategrey;
    }
.descriptionText
    {
        color:darkslategray;

    }
.navBar
    {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-direction:row;
        -ms-flex-direction: row;
    }
#portfolioHeadshot
    {
        width:100%;
        height:auto;
    }
#mySocials
    {
        display:flex;
        flex-direction: column;
        -ms-flex-direction: column;
    }
.socials
    {
        display:flex;
        flex-direction:column;
        -ms-flex-direction: column;
    }

.socialLink
    {
        color:aliceblue;
        width:fit-content;
        border-radius:.5vh;
        padding-left: 1vh;
        padding-right: 1vh;

    }
.socialLink:hover
    {
        background-color: darkgrey;
        scale: 1.1;
        transition: .7s;
    }
#myBio
    {
        display:flex;
        flex-direction: column;
        -ms-flex-direction: column;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

#projectMenu
    {
        display:flex;
        flex-direction:row;
        -ms-flex-direction: row;
        flex-wrap:wrap;
        -ms-flex-wrap: wrap;
    }
    .projectButtons
    {
        height:fit-content;
        align-self: center;
        margin-left: .5%;
    }


