			body
			{
				font-family: Gerogia, serif;
				line-height: 1.75em
				font-size: small;
			}
			
			h1
			{
				font: bold 1.5em "Marko One", Georgia, serif; 
				color: olive;
				text-shadow: .05em .05em .1em lightslategray;
			}
			
			h2
			{
				font-size: 1em
				text-transform: uppercase;
				letter-spacing: .5em;
				color: olive;
			}
			
			h2 + p
			{
				text-align: center;
				font-style: italic;
			}
			
			dt
			{
				font-weight: bold;
				color: sienna;
			}
			
			strong
			{
				font-style: italic;
			}
			
			dt strong
			{
				color: tomato;
			}
			
			
			#info p
			{
				font-style: italic;
				color: gray;
			}
			
			.price
			{
				font-family: Georgia, serif;
				font-style: italic;
				color: gray;
			}
			
			.label
			{
				font-weight: bold;
				font-variant: small-caps;
				font-style: normal;
			}
			
			p.warning, sup
			{
				font-size: small;
				color: red;
			}
			
			h1, h2, #info
			{
				text-align: center;
			}